/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: #0072C6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  
  header {
    background-color: #0bc9db;
    color: #FFF;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav {
    margin-top: 20px;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    font-size: 20px;
  }
  
  /* Main styles */
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: justify;
  }
  
  main h2 {
    font-size: 28px;
    margin-top: 40px;
  }
  
  main p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Contact page styles */
  
  form {
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border: 1px solid #4CAF50;
  }

  button {
    display: inline-block;
    background-color: #e3eded;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #005BAF;
  }
  