/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  /* Main styles */
  main {
    margin: 20px;
  }
  
  main h2 {
    font-size: 28px;
  }
  
  main ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  main li {
    margin-bottom: 20px;
  }
  
  main li h3 {
    font-size: 24px;
  }
  
  main li p {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  main li a {
    color: #333;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
  }
  